
        @media(min-width: 1440px) {
            .hidden-72rtr7 {
                display: none !important
            }
        }

        @media(min-width: 1200px) and (max-width: 1439.98px) {
            .hidden-e7onr6 {
                display: none !important
            }
        }

        @media(min-width: 810px) and (max-width: 1199.98px) {
            .hidden-pyxahi {
                display: none !important
            }
        }

        @media(max-width: 809.98px) {
            .hidden-1k9p6tq {
                display: none !important
            }
        }

        @media(min-width: 1440px) {
            .hidden-191epk8 {
                display: none !important
            }
        }

        @media(min-width: 1200px) and (max-width: 1439.98px) {
            .hidden-1hop2bg {
                display: none !important
            }
        }

        @media(min-width: 810px) and (max-width: 1199.98px) {
            .hidden-1kcm8za {
                display: none !important
            }
        }

        @media(max-width: 809.98px) {
            .hidden-1bfqf0g {
                display: none !important
            }
        }
    