
        /* arabic */

        @font-face {
            font-family: 'IBM Plex Sans Arabic';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/ibmplexsansarabic/v15/Qw3NZRtWPQCuHme67tEYUIx3Kh0PHR9N6YOG-eCRXMR5Kw.woff2) format('woff2');
            unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
        }

        /* cyrillic-ext */

        @font-face {
            font-family: 'IBM Plex Sans Arabic';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/ibmplexsansarabic/v15/Qw3NZRtWPQCuHme67tEYUIx3Kh0PHR9N6YOG-eCZXMR5Kw.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }

        /* latin-ext */

        @font-face {
            font-family: 'IBM Plex Sans Arabic';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/ibmplexsansarabic/v15/Qw3NZRtWPQCuHme67tEYUIx3Kh0PHR9N6YOG-eCaXMR5Kw.woff2) format('woff2');
            unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */

        @font-face {
            font-family: 'IBM Plex Sans Arabic';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/ibmplexsansarabic/v15/Qw3NZRtWPQCuHme67tEYUIx3Kh0PHR9N6YOG-eCUXMQ.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        /* cyrillic-ext */

        @font-face {
            font-family: 'Fragment Mono';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/fragmentmono/v6/4iCr6K5wfMRRjxp0DA6-2CLnB45HhrUI.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }

        /* latin-ext */

        @font-face {
            font-family: 'Fragment Mono';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/fragmentmono/v6/4iCr6K5wfMRRjxp0DA6-2CLnB41HhrUI.woff2) format('woff2');
            unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */

        @font-face {
            font-family: 'Fragment Mono';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/fragmentmono/v6/4iCr6K5wfMRRjxp0DA6-2CLnB4NHhg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: "thmanyah sans Bold";
            src: url("https://framerusercontent.com/assets/0SzM07uZ5RKGQlPCh6YyxMpGsaM.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700
        }

        @font-face {
            font-family: "thmanyah sans Regular";
            src: url("https://framerusercontent.com/assets/zvtIX3lfoEatRXmuaEhn4EhOESo.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400
        }

        @font-face {
            font-family: "thmanyah sans Medium";
            src: url("https://framerusercontent.com/assets/WrV7fIGa1u2iMigz3mcvfnsyM.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 500
        }

        @font-face {
            font-family: "thmanyah sans Black";
            src: url("https://framerusercontent.com/assets/bOzlc4k691bNtZ7hpmeqXU5g6Y.woff2");
            font-style: normal;
            font-weight: 900
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/5vvr9Vy74if2I6bQbJvbw7SY1pQ.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400;
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/EOr0mi4hNtlgWNn9if640EZzXCo.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400;
            unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/Y9k9QrlZAqio88Klkmbd8VoMQc.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400;
            unicode-range: U+1F00-1FFF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/OYrD2tBIBPvoJXiIHnLoOXnY9M.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400;
            unicode-range: U+0370-03FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/JeYwfuaPfZHQhEG8U5gtPDZ7WQ.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400;
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/GrgcKwrN6d3Uz8EwcLHZxwEfC4.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400;
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/b6Y37FthZeALduNqHicBT6FutY.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400;
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/DpPBYI0sL4fYLgAkX8KXOPVt7c.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/4RAEQdEOrcnDkhHiiCbJOw92Lk.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/1K3W8DizY3v4emK8Mb08YHxTbs.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            unicode-range: U+1F00-1FFF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/tUSCtfYVM1I1IchuyCwz9gDdQ.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            unicode-range: U+0370-03FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/VgYFWiwsAC5OYxAycRXXvhze58.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/syRNPWzAMIrcJ3wIlPIP43KjQs.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/GIryZETIX4IFypco5pYZONKhJIo.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/H89BbHkbHDzlxZzxi8uPzTsp90.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 700;
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/u6gJwDuwB143kpNK1T1MDKDWkMc.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 700;
            unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/43sJ6MfOPh1LCJt46OvyDuSbA6o.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 700;
            unicode-range: U+1F00-1FFF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/wccHG0r4gBDAIRhfHiOlq6oEkqw.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 700;
            unicode-range: U+0370-03FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/WZ367JPwf9bRW6LdTHN8rXgSjw.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 700;
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/ia3uin3hQWqDrVloC1zEtYHWw.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 700;
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/2A4Xx7CngadFGlVV4xrO06OBHY.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 700;
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/CfMzU8w2e7tHgF4T4rATMPuWosA.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 400;
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/867QObYax8ANsfX4TGEVU9YiCM.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 400;
            unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/Oyn2ZbENFdnW7mt2Lzjk1h9Zb9k.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 400;
            unicode-range: U+1F00-1FFF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/cdAe8hgZ1cMyLu9g005pAW3xMo.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 400;
            unicode-range: U+0370-03FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/DOfvtmE1UplCq161m6Hj8CSQYg.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 400;
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/pKRFNWFoZl77qYCAIp84lN1h944.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 400;
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/tKtBcDnBMevsEEJKdNGhhkLzYo.woff2");
            font-display: swap;
            font-style: italic;
            font-weight: 400;
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/BkDpl4ghaqvMi1btKFyG2tdbec.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 300;
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/zAMK70AQRFSShJgUiaR5IiIhgzk.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 300;
            unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/IETjvc5qzUaRoaruDpPSwCUM8.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 300;
            unicode-range: U+1F00-1FFF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/oLCoaT3ioA0fHdJnWR9W6k7NY.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 300;
            unicode-range: U+0370-03FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/Sj0PCHQSBjFmEp6NBWg6FNaKc.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 300;
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/aqiiD4LUKkKzXdjGL5UzHq8bo5w.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 300;
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @font-face {
            font-family: "Inter";
            src: url("https://framerusercontent.com/assets/H4TfENUY1rh8R9UaSD6vngjJP3M.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 300;
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
        }

        @font-face {
            font-family: "Switzer";
            src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/OYB4CXKJQXKTNSLJMTDQOIVUL2V5EL7S/WYO2P7DQVV5RNXGMCUO2HL4RJP4VFUAS/6XPIMU23OJVRY676OG5YVJMWEHWICATX.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 500
        }

        @font-face {
            font-family: "Switzer";
            src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/5SZVFDB7V52TI6ULVC6J3WQZQCIZVDV5/ODYPSTCUDMKSTYIPTV4CLQ7URIK7XYBJ/YS3VPNVO4B3TOJMEXDGFZQ4TLZGGSRZC.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 600
        }

        @font-face {
            font-family: "General Sans";
            src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/3RZHWSNONLLWJK3RLPEKUZOMM56GO4LJ/BPDRY7AHVI3MCDXXVXTQQ76H3UXA63S3/SB2OEB6IKZPRR6JT4GFJ2TFT6HBB6AZN.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 500
        }

        @font-face {
            font-family: "General Sans";
            src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/KWXO5X3YW4X7OLUMPO4X24HQJGJU7E2Q/VOWUQZS3YLP66ZHPTXAFSH6YACY4WJHT/NIQ54PVBBIWVK3PFSOIOUJSXIJ5WTNDP.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 700
        }

        @font-face {
            font-family: "General Sans";
            src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/MFQT7HFGCR2L5ULQTW6YXYZXXHMPKLJ3/YWQ244D6TACUX5JBKATPOW5I5MGJ3G73/7YY3ZAAE3TRV2LANYOLXNHTPHLXVWTKH.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 400
        }

        @font-face {
            font-family: "IBM Plex Sans Arabic Placeholder";
            src: local("Arial");
            ascent-override: 107.29%;
            descent-override: 41.04%;
            line-gap-override: 0.00%;
            size-adjust: 101.13%
        }

        @font-face {
            font-family: "thmanyah sans Bold Placeholder";
            src: local("Arial");
            ascent-override: 92.66%;
            descent-override: 23.17%;
            line-gap-override: 0.00%;
            size-adjust: 107.92%
        }

        @font-face {
            font-family: "thmanyah sans Regular Placeholder";
            src: local("Arial");
            ascent-override: 96.94%;
            descent-override: 24.23%;
            line-gap-override: 0.00%;
            size-adjust: 103.16%
        }

        @font-face {
            font-family: "thmanyah sans Medium Placeholder";
            src: local("Arial");
            ascent-override: 94.48%;
            descent-override: 23.62%;
            line-gap-override: 0.00%;
            size-adjust: 105.85%
        }

        @font-face {
            font-family: "Inter Placeholder";
            src: local("Arial");
            ascent-override: 89.79%;
            descent-override: 22.36%;
            line-gap-override: 0.00%;
            size-adjust: 107.89%
        }

        @font-face {
            font-family: "Switzer Placeholder";
            src: local("Arial");
            ascent-override: 96.67%;
            descent-override: 24.66%;
            line-gap-override: 8.88%;
            size-adjust: 101.38%
        }

        @font-face {
            font-family: "General Sans Placeholder";
            src: local("Arial");
            ascent-override: 99.89%;
            descent-override: 23.74%;
            line-gap-override: 9.89%;
            size-adjust: 101.11%
        }
    